name: Publish

on:
        push:
        workflow_dispatch:

jobs:
        build:
                name: build
                runs-on: ubuntu-latest
                permissions:
                        contents: write
                steps:
                        - uses: actions/checkout@v4.2.2
                        - uses: leafo/gh-actions-lua@v10
                          with:
                                  luaVersion: luajit

                        - uses: leafo/gh-actions-lua@v10
                          with:
                                  luaVersion: 5.1

                        - name: Apply fix to luajit
                          working-directory: .lua/bin
                          run: mv luajit* luajit

                        - uses: ok-nick/setup-aftman@v0.4.2
                          with:
                                  token: ${{ secrets.GITHUB_TOKEN }}

                        - name: Build
                          run: rojo build -o ./${{ github.event.repository.name }}-${{ github.ref_name }}.rbxm release.project.json

                        - uses: actions/upload-artifact@v4.3.3
                          with:
                                  name: ${{github.event.repository.name}}-${{ github.ref_name }}.rbxm
                                  path: ${{github.event.repository.name}}-${{ github.ref_name }}.rbxm
